@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Poppins:ital,wght@0,200;0,400;1,200&display=swap');

$titulofont : 'Bungee Shade', cursive;
$textofont : 'Poppins', sans-serif;

.main{
    &__container--txt{
        background-color:black ;
        font-size: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding: 20px 10px 30px 10px;
    }
}